{% extends 'blog/base.html' %}

{% block content %}
   {% for post in posts %}
       <div class="post">
           <div class="date">
               {{ post.published_date }}
           </div>
           <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
           <p>{{ post.text|linebreaksbr }}</p><span style="background-color:yellow">Watson Says:</span>
        <p>Anger : {{ post.angerScore }} |
        Disgust : {{ post.disgustScore }} |
        Fear : {{ post.fearScore }} |
        Joy : {{ post.joyScore }} |
        Sad : {{ post.sadScore }}</p>
          <p> Translation in Spanish: {{ post.spanish }}</p>
          <p> Word count: {{ post.word_count }}</p>
          <p> Character count: {{ post.character_count }}</p>
        </p>
           <p>Personality Insights:
           {{ post.type0 }} : {{ post.rawscore0 }} &nbsp;&nbsp;&nbsp;|
           {{ post.type1 }} : {{ post.rawscore1 }}&nbsp;&nbsp;&nbsp;|<br>
           {{ post.type2 }} : {{ post.rawscore2 }}&nbsp;&nbsp;&nbsp;|
           {{ post.type3 }} : {{ post.rawscore3 }}&nbsp;&nbsp;&nbsp;|
           {{ post.type4 }} : {{ post.rawscore4 }}
       </p>

       </p>

       </div>
   {% endfor %}
{% endblock %}
